$facebook: '\f09a';
$whatsapp: '\f232';
$linkedin: '\f0e1';
$instagram: '\f16d';
$google-plus: '\f2b3';
$youtube: '\f167';
$arrow-up: '\f062';
$arrow-right: '\f061';
$arrow-left: '\f060';
$arrow-down: '\f063';
$dot-circle: '\f192';
$user: '\f007';
$sign-in: '\f061';
$log-out: '\f060';
